.bird-guessing-block-container {
  display: flex;
  justify-content: space-between;
  max-width: 1380px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-name-audio-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
}

.birds-details-block {
  background-color: rgb(48, 48, 48);
  width: 100%;
}

.bird-image {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin: 10px;
}

.name-audio {
  width: 100%;
  margin-right: 10px;
}

.bird-name {
  text-align: left;
  margin-top: 10px;
}

.bird-species {
  text-align: left;
}

.description {
  margin: 10px;
  text-align: justify;
}

.dummy-block {
  width: 100%;
  background-color: rgb(48, 48, 48);
  margin-left: 10px;
}

.list-group {
  width: 100%;
  text-align: left;
  background-color: rgb(48, 48, 48);
  margin-right: 10px;
}

.btn-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: rgb(61, 61, 61);
  transition: 0.1s;
}

.li-btn:focus {
  outline: none;
  background-color: rgb(48, 48, 48);
}
