@import '../../../styles/mixins';
@import '../../../styles/color';

.header {
  padding: 30px 0;

  &-content {
    @include flex(row, space-between, center);
    margin-bottom: 20px;
  }

  &__logo, &__score {
    color: $white;
  }
}
