.nav-list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-item {
  list-style: none;
  width: 100%;
  padding: 10px;
  align-self: center;
  font-size: 1.1em;
  text-align: center;
  border: 1px solid gray;
  background-color: rgb(48, 48, 48);
}

.active-group {
  background-color: rgb(0, 188, 140);
}