.random-bird__container {
  margin: 0 auto;
  max-width: 1380px;
  width: 100%;
  background-color: rgb(48, 48, 48);
}

.image {
  height: 150px;
  width: 150px;
  border-radius: 5px;
}

.react-audio-player {
    width: 95%;
}
